@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

@keyframes rotation-back {
    0% {
        transform:rotate(3600deg);
    }
    100% {
        transform:rotate(0deg);
    }
}