@keyframes rotation {
    0% {
        transform:rotate(0deg);
    }
    100% {
        transform:rotate(360deg);
    }
}

@keyframes rotation-back {
    0% {
        transform:rotate(3600deg);
    }
    100% {
        transform:rotate(0deg);
    }
}

@keyframes animatedBackground {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 50% 100%;
    }
    100% {
        background-position: 0 50%;
    }
  }