@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&family=Source+Sans+3:wght@700;900&family=Source+Sans+Pro:wght@600&display=swap');

@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';
@import 'base/media';

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    width: 1160px;
    margin: 0 auto;
}

.desktop-hidden {
    content: ' ';
    &:after {
        content: ' '
    }
}

.hide {
    display: none;
}

.show {
    display: block;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    0%{
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
}

@media (max-width: 1200px) {
    .container {
        max-width: 985px;
    }
}
@media (max-width: 991px) {
    .container {
        max-width: 750px;
    }
}
@media (max-width: 767px) {
    .container {
        max-width: 540px;
    }
}
@media (max-width: 575px) {
    .container {
        width: 324px;
        // padding: 0 4px;
    }
}
@media (max-width: 360px) {
    .container {
        width: 300px;
    }
}

body {
    overflow-x: hidden;
}

@import 'blocks/text';
@import 'blocks/wave';
@import 'blocks/buttons';
@import 'blocks/form';
@import 'blocks/accordion';


@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/for';
@import 'blocks/program';
@import 'blocks/results';
@import 'blocks/rates';
@import 'blocks/about';
@import 'blocks/contacts';
@import 'blocks/questions';
@import 'blocks/footer';
@import 'blocks/modal';
@import 'blocks/tiktok-loader';
@import 'blocks/bubbles';

@import 'blocks/media/promo-media';
@import 'blocks/media/header-media';
@import 'blocks/media/for-media';
@import 'blocks/media/program-media';
@import 'blocks/media/results-media';
@import 'blocks/media/rates-media';
@import 'blocks/media/about-media';
@import 'blocks/media/contacts-media';
@import 'blocks/media/questions-media';
@import 'blocks/media/footer-media';
@import 'blocks/media/html-media';


@import 'blocks/media/text-media';
// @import 'blocks/media/wave-media';
@import 'blocks/media/buttons-media';
@import 'blocks/media/form-media';
@import 'blocks/media/accordion-media';
@import 'blocks/media/bubbles-media';


