@import 'libs/bootstrap-reboot.min';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;900&family=Source+Sans+3:wght@700;900&family=Source+Sans+Pro:wght@600&display=swap');

@import 'base/variables';
@import 'base/mixins';
@import 'base/animations';

* {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Source Sans 3', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    zoom: 70%
}

ul {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

@import 'blocks/title';
@import 'blocks/text';
@import 'blocks/wave';
@import 'blocks/buttons';
@import 'blocks/form';
@import 'blocks/accordion';


@import 'blocks/promo';
@import 'blocks/header';
@import 'blocks/for';
@import 'blocks/program';
@import 'blocks/results';
@import 'blocks/rates';
@import 'blocks/about';
@import 'blocks/contacts';
@import 'blocks/questions';
@import 'blocks/footer';


.gradient {
    width: 960px;
    height: 394px;
    background: linear-gradient(90deg, rgba(187, 51, 78, 0.6), rgba(252, 188, 201, 0.186));
    background: linear-gradient(45deg, rgba(187, 51, 78, 0.6) 36%, rgba(252, 188, 201, 0.186) 50%);
	background-size: 100% 450%;
    animation-name: animation;
    animation-duration: 10s;
    animation-iteration-count:infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
	// transform: translate3d(0, 0, 0);
}

