.about {
    position: relative;
    padding: 200px 0 224px;
    min-height: 1307px;
    overflow-x: clip;
    z-index: 2;
    &:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -3;
        // transform: matrix(1, 0, 0, -1, 0, 0);
        background: url(../img/bg/bg.jpg) center (center/contain) no-repeat;
        background-size: 100% 100%;
        transform: matrix(1, 0, 0, -1, 0, 0);

    }
    &__title {
        margin-bottom: 110px;
    }
    &__wrap {
        display: flex;
        min-height: 780px;
        align-items: center;
        justify-content: space-between;
        z-index: 3;
    }
    &__card {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: start;
        width: 665px;
        min-height: 394px;
        padding: 40px;
        box-sizing: border-box;
        background: url(../img/about/about-card.png) center (center/contain) no-repeat;
        background-size:100% 100%;
        border-radius: 15px;
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 15px; 
            padding: 5px; 
            background: linear-gradient(90deg, rgba(187, 51, 78, 0.6), rgba(252, 188, 201, 0.186));
            background: linear-gradient(45deg, rgba(187, 51, 78, 0.6) 36%, rgba(252, 188, 201, 0.186) 50%);
            opacity: 0.35;
            -webkit-mask: 
               linear-gradient(#fff 0 0) content-box,
               linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
            background-size: 100% 450%;
            animation-name: animation;
            animation-duration: 15s;
            animation-iteration-count: infinite;
            animation-timing-function: ease-in-out;
            animation-direction: alternate;
          } 
    }
    &__subtitle {
        margin-bottom: 24px;
    }
    &__img {
        position: relative;
        // z-index: -2;
        padding-bottom: 70px;
        margin-bottom: 39px;
        width: 494px;
        height: 863px;
        picture {
            img {
                width: 100%;
                height: 100%;
            }
        }
        &:after {
            content: '';
            position: absolute;
            width: 617.04px;
            height: 431.3px;
            right: -160px;
            top: -6px;
            background: #FE2C55;
            opacity: 0.4;
            filter: blur(200px);
            transform: translate3d(0,0,0) matrix(0.96, 0.27, -0.7, 0.71, 0, 0);
            z-index: -3;
        }
        &:before {
            content: '';
            position: absolute;
            width: 625.26px;
            height: 450.63px;
            right: -52px;
            top: 194px;
            background: #25F4EE;
            opacity: 0.4;
            filter: blur(150px);
            transform: translate3d(0,0,0) matrix(0.96, 0.27, -0.7, 0.71, 0, 0);
            z-index: -3;
            
        }
    }
    &__back-white {
        position: absolute;
        width: 999.65px;
        height: 217.3px;
        left: -258px;
        top: 228px;
        background: #EEEEEE;
        opacity: 0.4;
        filter: blur(181.5px);
        transform: translate3d(0,0,0) matrix(1, 0.04, -0.13, 0.99, 0, 0);
        z-index: -3;
    }

    &__contact {
        display: block;
        width: 198px;
        height: 57px;
        margin: 0 auto;
        background: rgba(248, 245, 245, 0.51);
        border-radius: 15px;
        padding-top: 16px;
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        color: #2D2B2B;
        z-index: 5;
        transition: 0.4s;
        &:hover {
            transform: scale(1.07);
        }
        &:active {
            transform: scale(0.98);

        }
    }

    // &__contacts {
    //     display: flex;
    //     flex-direction: column;
    //     justify-content: center;
    //     margin: 0 auto;
    //     width: 198px;
    //     height: 57px;
    //     background: rgba(248, 245, 245, 0.51);
    //     border-radius: 15px;
    //     z-index: 4;
    //     a {
    //         width: 100%;
    //         height: 100%;
    //         padding-top: 16px;
    //         font-family: 'Montserrat';
    //         font-weight: 600;
    //         font-size: 20px;
    //         line-height: 24px;
    //         text-align: center;
    //         color: #2D2B2B;
    //         z-index: 5;
    //     }
    // }

    &__bubble {
        position: absolute;
        z-index: -3;
        &_send-bubble {
            top: -250px;
            right: -200px;
            filter: blur(3.5px);
            transform: translate3d(0,0,0) rotate(9.721deg);
            animation: animation-about-send 100s linear infinite;
            img {
                width: 285.903px;
                height: 254.111px;
            }
        }
        &_heart-bubble {
            top: 1000px;
            right: 1200px;
            filter: blur(3px);
            transform: translate3d(0,0,0);
            animation: animation-about-heart 100s linear infinite;
            img {
                opacity: 0.8;
            }
        }
        &_tiktok-bubble {
            top: 700px;
            right: -400px;
            filter: blur(2px);
            transform: translate3d(0,0,0);
            animation: animation-about-tiktok 100s linear infinite;
            z-index: -3;
            img {
                width: 165px;
                height: 145px;
                opacity: 0.8;
            }
        }
    }
}

// animation

@keyframes animation-about-send {
    0% { transform:  translateY(0%) translateX(-450%) rotate(360deg);  opacity: 1;}
    50% {
        transform: translateY(20%) translateX(0) rotate(0deg); opacity: 1;
    }
	100%   {  transform: translateY(0%) translateX(-450%) rotate(360deg); opacity: 1;}
}

@keyframes animation-about-heart {
    0% { transform:  translateY(0%) translateX(450%) rotate(720deg);  opacity: 1;}
    50% {
        transform: translateY(-40%) translateX(0) rotate(0deg); opacity: 1;
    }
	100%   {  transform: translateY(0%) translateX(450%) rotate(720deg); opacity: 1;}
}

@keyframes animation-about-tiktok {
    0% { transform: rotate(360deg) translateY(150%) translateX(150%) rotate(720deg);  opacity: 1;}
	100%   {  transform: rotate(0deg) translateY(150%) translateX(150%) rotate(720deg); opacity: 1;}
}