.btn {
    width: 313.14px;
    height: 132.41px;
    background:#F0F0F0;
    border-radius: 15px;
    border: none;
    // border: none;
    position: relative;
  }
  
  .shadow {
    width: 333.14px;
    height: 132.41px;
    border-radius: 15px / 15px;
    border-right: 15px solid #fe2c55;
    border-left: 15px solid #24f4ee;
    cursor: pointer;
    transition: 0.7s;
  }
  
  .shadow:hover {
    transform: scale(1.1);
    border-left: 15px solid #fe2c55;
    border-right: 15px solid #24f4ee;
  }