.button-wrap {
    position: relative;
    display: inline-block;
    width: 333.14px;
    height: 132.41px;
    border-radius: 30px;
    transition: 0.5s;
    &::before,
    &::after {
        content: '';
        position: absolute;
        width: 333.14px;
        height: 132.41px;
        top: 0;
        bottom: 0;
        border-radius: 15px;
        z-index: -1;
        transition: 0.3s ease-in;
    }

    &::before {
        background-color: #FE2C55;
        width: 50%;
        left: -8px;
        right: 0;
    }

    &::after {
        background-color: #25F4EE;
        right: 0;
        left: 8px;
    }
    &:hover::before {
        background-color: #25F4EE;
    }
    &:hover::after {
        background-color: #FE2C55;
    }
    &:hover {
        transform: scale(1.05);
        .button {
            &__decor-left {
                background-color: #25F4EE;
            }
            &__decor-right {
                background-color: #FE2C55;
            }
        }
    }
    &:active {
        transform: scale(0.92);
    }
    &__medium {
        width: 326px;
        height: 91.26px;
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 326px;
            height: 91.26px;
            top: 0;
            bottom: 0;
            border-radius: 15px;
            z-index: -1;
            transition: 0.3s ease-in;
        }
    
        &::before {
            background-color: #FE2C55;
            width: 50%;
            left: -8px;
            right: 0;
        }
    
        &::after {
            background-color: #25F4EE;
            right: 0;
            left: 8px;
        }
        &:hover::before {
            background-color: #25F4EE;
        }
        &:hover::after {
            background-color: #FE2C55;
        }
    }
    &__modal {
        width: 326px;
        height: 91.26px;
        &::before,
        &::after {
            content: '';
            position: absolute;
            width: 326px;
            height: 91.26px;
            top: 0;
            bottom: 0;
            border-radius: 15px;
            z-index: -1;
            transition: 0.3s ease-in;
        }
    
        &::before {
            background-color: #FE2C55;
            width: 50%;
            left: -8px;
            right: 0;
        }
    
        &::after {
            background-color: #25F4EE;
            right: 0;
            left: 8px;
        }
        &:hover::before {
            background-color: #25F4EE;
        }
        &:hover::after {
            background-color: #FE2C55;
        }
    }
}

.button {
    display: block;
    position: relative;
    width: 333.14px;
    height: 132.41px;
    margin: 0 auto;
    background:#F0F0F0;
    border-radius: 15px;
    border: none;
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    text-transform: uppercase;
    color: #2D2B2B;
    
    &__decor-left, &__decor-right {
        display: block;
        position: absolute;
        top: 30px;
        bottom: 0;
        border-radius: 15px;
        z-index: -2;
    }

    &__decor-left {
        background-color: #FE2C55;
        width: 50%;
        height: 50%;
        left: -3%;
        right: 0;
        filter: blur(50px);
        transform: translate3d(0,0,0);
        transition: 0.8s;
        &_medium {
            filter: blur(32px);
            transform: translate3d(0,0,0);
            height: 56%;
            top: 29px;
            left: 0;
        }
        &:hover {
            background-color: #25F4EE;
        }
    }
    &__decor-right {
        background-color: #25F4EE;
        width: 50%;
        height: 50%;
        right: 0;
        left: 50%;
        filter: blur(50px);
        transform: translate3d(0,0,0);
        transition: 0.8s;
        &_medium {
            left: 46%;
            filter: blur(32px);
            transform: translate3d(0,0,0);
            top: 29px;
            height: 56%;
        }
        &:hover {
            background-color: #FE2C55;
        }
    }
    &__medium {
        width: 326px;
        height: 91.26px;
    }
    &__modal {
        width: 326px;
        height: 91.26px;
    }
}
