footer {
    padding: 100px 0 200px 0;
    background: #F1F1F1;
    .wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        a {
            text-decoration: none;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}