.for {
    padding: 200px 0 200px 0;
    background: #F1F1F1;
    &__wrap {
        position: relative;
        // margin: 0 auto;
        display: grid;
        justify-content: center;
        grid-template-columns: repeat(2, 422px);
        gap: 118px;
        grid-auto-rows: minmax(600px, auto);
        z-index: 10000000000;
    }
    &__title {
        margin-bottom: 83px;
    }
    &__items {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    &__emoji {
        display: block;
        max-height: 368px;
        width: 300px;
        margin-bottom: 20px;
        &_girl {
            width: 300px;
            height: 300px;
        }
        &_boy-glasses {
            width: 300px;
            height: 368px;
        }
        &_boy {
            width: 300px;
            height: 247px;
        }
        &_girl-star {
            width: 300px;
            height: 279px;
        }
        img {
            height: 100%;
            width: 100%;
        }
    }
    &__descr {
        display: block;
        width: 422px;
        height: 400px;
        background: rgba(22, 21, 20, 0.15);
        border-radius: 15px;
        padding-top: 40px;
        padding-left: 40px;
    }
    &__subtitle {
        display: block;
        margin-bottom: 20px;
    }

    .desktop-hidden {
        content: ' ';
        &:after {
            content: ' '
        }
    }
    &__buble {
        &_tiktok-buble {
            top: -252px;
            right: -89px;
            filter: blur(4px);
            z-index: 10000000;
            img {
                width: 331px;
                height: 293px;
                transform: scaleX(-1);
            }
        }
        &_heart {
            top: -89px;
            left: 227px;
            transform: rotate(-36.269deg);
            img {
                width: 61.91px;
                height: 61.91px;
            }
        }
        &_heart-2 {
            top: 3px;
            right: 2px;
            // transform: rotate(-36.269deg);
        }
        &_tik-tok {
            top: 37px;
            left: 76px;
            transform: rotate(18.155deg);
            img {
                width: 81.795px;
                height: 79.565px;
            }
        }
        // &_tiktok-buble-animation {
        //     animation: animation-for-tiktok 6s forwards;
        // }
        // &_message-buble {
        //     top: 301px;
        //     left: -306px;
        //     transform: translateY(-150%) rotate(-31.718deg);
        //     animation: animation-promo-message 5s forwards;
        //     // img {
        //     //     width: 349.22px;
        //     //     height: 369.603px;
        //     // }
        // }
        // &_send-buble {
        //     bottom: -72px;
        //     right: -28px;
        //     transform: translateY(-150%);
        //     animation: animation-promo-send 5s forwards;
        // }
        // &_heart-buble {
        //     bottom: -163px;
        //     left: -88px;
        //     transform: translateY(-150%);
        //     animation: animation-promo-heart 5s forwards;
        //     img {
        //         width: 385px;
        //         height: 329px;
        //     }
        // }
    }
}

.elements {
    height: 0;
    width: 100%;
    opacity: 0;
}

.element-animation {
    animation: element-animation 2s forwards;
}

// animation 

@keyframes element-animation {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
  }
}