.for {
    padding: 103px 0 200px 0;
    background: #F1F1F1;
    &__wrap {
        margin: 0 99px;
        display: grid;
        grid-template-columns: repeat(2, 422px);
        gap: 118px;
        grid-auto-rows: minmax(600px, auto);
    }
    &__title {
        margin-bottom: 83px;
    }
    &__items {
        display: flex;
        flex-direction: column;
        justify-content: end;
        align-items: center;
    }
    &__emoji {
        display: block;
        max-height: 368px;
        width: 300px;
        margin-bottom: 20px;
        &_girl {
            width: 300px;
            height: 300px;
        }
        &_boy-glasses {
            width: 300px;
            height: 368px;
        }
        &_boy {
            width: 300px;
            height: 247px;
        }
        &_girl-star {
            width: 300px;
            height: 279px;
        }
        img {
            height: 100%;
            width: 100%;
        }
    }
    &__descr {
        display: block;
        width: 422px;
        height: 400px;
        background: rgba(22, 21, 20, 0.15);
        border-radius: 15px;
        padding-top: 40px;
        padding-left: 40px;
    }
    &__subtitle {
        display: block;
        margin-bottom: 20px;
    }

    .desktop-hidden {
        content: ' ';
        &:after {
            content: ' '
        }
    }
}