.program {
    position: relative;
    min-height: 1413px;
    padding: 200px 0;
    overflow: hidden;
    background-color: black;
    &:before {
        content: "";
        position: absolute;
        top: 2px;
        left: 0;
        width: 100%;
        height: 100%;
        // z-index: -2;
        background: url(../img/bg/background.jpg);
        background-position: center center;
        background-size: cover;
        opacity: 0.4;
        transform: matrix(1, 0, 0, -1, 0, 0);

    }

    &__title {
        margin-bottom: 85px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        z-index: 10;
    }

    &__card {
        position: relative;
        padding: 0 0 40px 0;
        margin-bottom: 63px;
        box-sizing: border-box;
        background: url(../img/about/about-card.png) center (center/contain) no-repeat;
        background-size:100% 100%;
        border-radius: 15px;
        &:last-child{
            margin-bottom: 0;
        }
        &::before {
            content: "";
            position: absolute;
            inset: 0;
            border-radius: 15px; 
            padding: 5px; 
            background: linear-gradient(90deg, rgba(187, 51, 78, 0.6), rgba(252, 188, 201, 0.186));
            background: linear-gradient(45deg, rgba(187, 51, 78, 0.6) 36%, rgba(252, 188, 201, 0.186) 50%);
            opacity: 0.35; 
            -webkit-mask: 
               linear-gradient(#fff 0 0) content-box,
               linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
                    mask-composite: exclude;
            background-size: 100% 450%;
            animation-name: animation;
            animation-duration: 10s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
            animation-direction: alternate;
          }  
    }

    &__num {
        display: block;
        width: 163px;
        height: 214px;

    }

    &__card-wrap {
        display: grid;
        grid-template-columns: 163px 710px;
        column-gap: 30px;
        padding-left: 40px;
    }
    

    &__card-text {
        margin: 110px 0 41px 0;
        h3 {
            margin-bottom: 20px;
        }
        ul {
            margin-left: 22px;
            li {
                margin-bottom: 20px;
                &:last-child{
                    margin-bottom: 0;
                }
            }
        }
    }
    
    &__subtitle {
        margin-bottom: 20px;
    }
    &__bubble {
        position: absolute;
        z-index: 1;
        &_tiktok-bubble {
            top: 250px;
            left: 450px;
            filter: blur(3px);
            animation: animation-for-tiktok 80s linear infinite;
            img {
                width: 331px;
                height: 293px;
            }
        }
        &_send-bubble {
            top: 0;
            right: -850px;
            filter: blur(4.5px);
            transform: rotate(9.721deg);
            animation: animation-for-send 80s linear infinite;
        }
        &_message-bubble {
            bottom: -200px;
            left: -250px;
            filter: blur(4.5px);
            transform: rotate(9.721deg);
            animation: animation-for-message 60s linear infinite;
        }
    }
}

// animation 

@keyframes animation-for-tiktok {
    0% { transform: rotate(360deg) translateY(-150%) translateX(-150%) rotate(360deg);  opacity: 1;}
    25% { opacity: 0.1;}
    50% {opacity: 0;}
    75% {opacity: 1;}
	100%   {  transform: rotate(0deg) translateY(-150%) translateX(-150%) rotate(360deg); opacity: 0;}
}

@keyframes animation-for-send {
    0% { transform:  translateY(400%) translateX(-150%) rotate(360deg);  opacity: 1;}
    50% {
        transform: translateY(0) translateX(-150%) rotate(0deg); opacity: 1;
    }
	100%   {  transform: translateY(400%) translateX(-150%) rotate(360deg); opacity: 1;}
}

@keyframes animation-for-message {
    0% { transform: translateY(0%) translateX(-10%) rotate(0);  opacity: 1;}
    50% {
        transform: translateY(-200%) translateX(-50%) rotate(-360deg);
    }
	100%   {  transform: translateY(0%) translateX(-10%) rotate(360deg); opacity: 1;}

    // 0% { transform: rotate(0deg) translateY(-20%) translateX(-20%) rotate(360deg);  opacity: 1;}
    // 25% { opacity: 0.1;}
    // 50% {opacity: 0.1;}
    // 75% {opacity: 1;}
	// 100%   {  transform: rotate(360deg) translateY(-20%) translateX(-20%) rotate(360deg); opacity: 0;}
}