.program {
    position: relative;
    min-height: 1413px;
    padding: 200px 0;
    // z-index: 1000000;
    &__background {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &__background-layer1 {
        background: url(../img/promo/background-galaxy.jpg) center (center/cover) no-repeat;
    }
    
    &__background-layer2 {
        background: linear-gradient(0deg, rgba(70, 70, 70, 0.71), rgba(70, 70, 70, 0.71)), url(../img/promo/background-promo.jpg) center (center/cover) no-repeat;
        opacity: 0.71;
    }

    &__background-layer3 {
        height: 546px;
        display: block;
        margin: 0 auto;
        align-items: center;
        background: linear-gradient(89.87deg, rgba(95, 255, 250, 0.4) 13.48%, rgba(255, 90, 122, 0.4) 86.65%);
filter: blur(350px);
    }

    &__title {
        margin-bottom: 85px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__card {
        width: 960px;
        height: 394px;
        background: linear-gradient(180deg, rgba(47, 46, 46, 0.5929) 15.32%, rgba(47, 46, 46, 0.77) 64.28%);
        border-radius: 15px;
        border: 5px solid red;
        border-top: rgba(252, 188, 201, 0.186);
        margin-bottom: 55px;
    }

    &__card-wrap {
        margin: 110px 0 41px 233px
    }
    
    &__subtitle {
        margin-bottom: 20px;
    }
}