.promo {
    min-height: 1413px;
    padding: 25px 0 200px 0;
    background: url(../img/promo/bg.jpg);
    &__wrapper {
        position: relative;
    }

    &__header {
        text-align: center;
        margin: 0 auto;
        font-family: 'Montserrat';
        font-weight: 300;
        font-size: 60px;
        color: #FFFFFF;
        margin-bottom: 38px;
        line-height: 73px;
    }

    &__wrap-subheader {
        display: block;
        margin: 0 auto;
        position: relative;
        margin-bottom: 45px;
    }
    &__title {
        display: block;
        font-family: 'Source Sans 3';
        font-weight: 900;
        font-size: 300px;
        line-height: 265px;
        color: #FFFFFF;
        opacity: 0.7;
        text-align: center;
    }
    &__title-two {
        display: block;
        font-family: 'Source Sans 3';
        font-weight: 900;
        font-size: 300px;
        line-height: 265px;
        color: #FFFFFF;
        text-align: center;
    }

    &__subheader-front {
        position: absolute;
        top: 0;
        left: 95px;
        z-index: 100;
    }

    &__subtitle {
        display: block;
        font-family: 'Source Sans 3';
        font-weight: 900;
        font-size: 300px;
        line-height: 265px;
        color: transparent;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.59);
        opacity: 0.6;
        text-align: center;
    }
    &__subtitle_two {
        display: block;
        font-family: 'Source Sans 3';
        font-weight: 900;
        font-size: 300px;
        line-height: 265px;
        color: transparent;
        -webkit-text-stroke: 1px rgba(255, 255, 255, 0.59);
        opacity: 0.6;
        text-align: center;
    }

    &__img {
        position: absolute;
        top: -209px;
        left: -357px;
        z-index: 10;
    }

    &__descr {
        margin: 0 60px;
        display: grid;
        grid-template-columns: repeat(2, 330px);
        gap: 392px;
        div {
            font-family: 'Montserrat';
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            text-align: right;
            color: #FFF7F7;
            span {
                color: #6FFFFB;
            }
        }
        div:last-child {
            text-align: left;
        }
    }
}

