.program {
    position: relative;
    min-height: 1413px;
    padding: 200px 0;
    // z-index: 1000000;
    &__background {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }
    &__background-layer1 {
        background: url(../img/promo/background-galaxy.jpg) center (center/cover) no-repeat;
    }
    
    &__background-layer2 {
        background: linear-gradient(0deg, rgba(70, 70, 70, 0.71), rgba(70, 70, 70, 0.71)), url(../img/promo/background-promo.jpg) center (center/cover) no-repeat;
        opacity: 0.71;
    }

    &__background-layer3 {
        position: absolute;
        height: 546px;
        z-index: -1;
        top: 30%;
        // display: block;
        // margin: 0 auto;
        // align-items: center;
        background: linear-gradient(89.87deg, rgba(95, 255, 250, 0.4) 13.48%, rgba(255, 90, 122, 0.4) 86.65%);
filter: blur(350px);
    }

    &__title {
        margin-bottom: 85px;
    }

    &__cards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__card {
        position: relative;
        width: 955px;
        min-height: 402px;
        margin-bottom: 63px;
        box-sizing: border-box;
        background: linear-gradient(180deg, rgba(47, 46, 46, 0.5236) 23.65%, rgba(47, 46, 46, 0.77) 78.34%);
        border-radius: 15px;
        // z-index: -1;
        svg {
            position: absolute;
            top: -2px;
            left: -2px;
            opacity: 0.6;
            // z-index: 1;
        }        
    }

    &__num {
        display: block;
        width: 163px;
        height: 214px;
    }

    &__card-wrap {
        display: grid;
        grid-template-columns: 163px 710px;
        column-gap: 30px;
        padding-left: 40px;
    }
    

    &__card-text {
        margin: 110px 0 41px 0;
        h3 {
            margin-bottom: 20px;
        }
        ul {
            margin-left: 22px;
            li {
                margin-bottom: 20px;
            }
        }
    }
    
    &__subtitle {
        margin-bottom: 20px;
    }
}