.results {
    position: relative;
    padding: 200px 0;
    z-index: 1000;
    &:before {
        content: "";
        position: absolute;
        top: -1px;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background: url(../img/bg/bg.jpg) center (center/cover) no-repeat;
        background-size: 100% 100%;

    }

    &__title {
        margin: 0 auto;
        margin-bottom: 450px;
    }
    &__wrap {
        position: relative;
        width: 1160px;
        margin: 0 auto;
    }
    &__brain {
        position: relative;
        display: block;
        margin: auto;
        z-index: 1;
        mix-blend-mode: multiply;
        img{
            display: block;
            margin: 0 auto;
            width: 650px;
            height: 650px;
            // mix-blend-mode: multiply;
            transition: 0.2s;  
        }
        &:hover:before {
            filter: blur(145px);
        }
    }
    &__shine {
        position: absolute;
        width: 457px;
        height: 457px;
        top: 95px;
        left: 348px;
        z-index: -1;
        background: #EEEEEE;
        filter: blur(100px);
        opacity: 0.8;  
    }
    &__orbita-main {
        position: absolute;
        top: -69px;
        left: 180px;
        opacity: 0.45;
        img {
            display: block;
            margin: 0 auto;
            width: 800px;
            height: 800px;
        }
    }
    &__orbita-small {
        position: absolute;
        top: -166px;
        left: 85px;
        opacity: 0.65;
        img{
            width: 991px;
            height: 991px;
            animation-name: rotation;
            animation-duration: 15s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
    &__orbita-medium {
        position: absolute;
        top: -251px;
        left: 0;
        opacity: 0.55;
        img{
            width: 1155px;
            height: 1155px;
            animation-name: rotation;
            animation-duration: 20s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }
    &__orbita-big {
        position: absolute;
        top: -300px;
        left: -49px;
        opacity: 0.45;
        img{
            width: 1249px;
            height: 1249px;
            animation-name: rotation;
            animation-duration: 25s;
            animation-iteration-count: infinite;
            animation-timing-function: linear;
        }
    }

    &__card {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 28px 19px;
        position: absolute;
        // min-width: 456px;
        // min-height: 150px;
        background: rgba(248, 245, 245, 0.51);
        border-radius: 15px;

        text-align: center;
        z-index: 1;

        &_1 {
            width: 450px;
            height: 150px;
            right: 49px;
            top: -313px;
            &::after{
                content: '';
                position: absolute;
                width: 53.15px;
                border: 2px solid #EEEEEE;
                transform: rotate(4.32deg);
                top: 139px;
                right: 447px;
            }
            &::before {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                top: 119px;
                right: 487px;
                border-radius: 100%;
                background: #EEEEEE;
                box-shadow: -4px -4px 15px rgba(217, 217, 217, 0.8), 4px 4px 15px rgba(217, 217, 217, 0.7);
                filter: blur(2px);
            }
        }
        &_2 {
            width: 456px;
            height: 150px;
            left: 0;
            top: -132px;
            &::after{
                content: '';
                position: absolute;
                width: 61px;
                border: 2px solid #EEEEEE;
                transform: matrix(-0.72, -0.69, -0.69, 0.72, 0, 0);
                top: 165px;
                left: 442px;
            }
            &::before {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                top: 182px;
                left: 489px;
                border-radius: 100%;
                background: #EEEEEE;
                box-shadow: -4px -4px 15px rgba(217, 217, 217, 0.8), 4px 4px 15px rgba(217, 217, 217, 0.7);
                filter: blur(2px);
            }
        }
        &_3 {
            width: 449px;
            height: 150px;
            left: 440px;
            top: 546px;
            &::after{
                content: '';
                position: absolute;
                width: 63.03px;
                border: 2px solid #EEEEEE;
                transform: rotate(120.36deg);
                top: -22px;
                left: 426px;
            }
            &::before {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                top: -68px;
                left: 459px;
                border-radius: 100%;
                background: #EEEEEE;
                box-shadow: -4px -4px 15px rgba(217, 217, 217, 0.8), 4px 4px 15px rgba(217, 217, 217, 0.7);
                filter: blur(2px);
            }
        }
        &_4 {
            width: 556px;
            height: 153px;
            left: 344px;
            top: 768px;
            &::after{
                content: '';
                position: absolute;
                width: 61px;
                border: 2px solid #EEEEEE;
                transform: matrix(0.39, 0.92, 0.92, -0.39, 0, 0);
                top: -26px;
                left: -34px;
            }
            &::before {
                content: '';
                position: absolute;
                width: 30px;
                height: 30px;
                top: -78px;
                left: -33px;
                border-radius: 100%;
                background: #EEEEEE;
                box-shadow: -4px -4px 15px rgba(217, 217, 217, 0.8), 4px 4px 15px rgba(217, 217, 217, 0.7);
                filter: blur(2px);
            }
        }
        
    }
    
}