.title {
    font-family: 'Source Sans 3';
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    color: #2D2B2B;
    text-shadow: 2px 2.8px #25F4EE, 5px 4.5px #FE2C55;
    &_white {
        color: #EEEEEE;
    }
}

.subtitle {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    color: #2D2B2B;
    &_fw900{
        font-weight: 900;
        background: linear-gradient(90deg, #F4EDED 12.97%, rgba(252, 199, 199, 0.452381) 27.13%, rgba(233, 158, 158, 0.71) 89.48%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
            }
}

.text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 20px;
    line-height: 24.38px;
    color: #2D2B2B;
    &_blue {
        color: #19BFBA;
    }
    &_red {
        color: #BB334E;
    }
    &_white {
        color: #EEEEEE;
    }
    &_line-through {
        text-decoration: line-through;
        color: rgba(45, 43, 43, 0.55);
    }
    &_fz26{
        font-size: 26px;
        line-height: 32;
    }
    &_fz26-fw600 {
        font-weight: 600;
        font-size: 26px;
        line-height: 32px;
    }
    &_fz32 {
        font-weight: 600;
        font-size: 32px;
    }
    &_footer {
        font-weight: 600;
        font-size: 20px;  
    }
    &_contacts {
        font-weight: 400;
        font-size: 32px;
        line-height: 39px;
    }
    
}

.num {
    font-family: 'Source Sans 3';
    font-weight: 900;
    font-size: 150px;
    text-align: center;
    background: linear-gradient(180deg, rgba(250, 246, 247, 0.39) 31.85%, rgba(146, 108, 116, 0) 78.38%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
    line-height: 185px;
}