.tiktok-loader {
    width: 80px;
    height: 40px;
    position: relative;
    z-index: 10000000000;
    &::before,
    &::after {
        position: absolute;
        content: "";
        top: 6px;
        background-color: #FE2C55;
        width: 28px;
        height: 28px;
        border-radius: 50%;
        // mix-blend-mode: multiply;
        animation: tiktok-loader-anim 1s linear infinite;
    }
  &::after {
    background-color: #25F4EE;
    animation-delay: 0.5s;
  }
}
  
@keyframes tiktok-loader-anim {
  
    0%,
    100% {
      top: 6px;
      left: 0px;
      width: 28px;
      height: 28px;
      z-index: 0;
    }
  
    25% {
      top: 0px;
      height: 40px;
      width: 40px;
      z-index: 1;
      left: 13px;
    }
  
    50% {
      top: 6px;
      width: 28px;
      height: 28px;
      left: 41px;
    }
  
    75% {
      top: 8px;
      width: 28px;
      height: 28px;
      left: 19px;
    }
}