.title {
    font-family: 'Source Sans 3';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 85px;
    text-align: center;
    color: #2D2B2B;
    text-shadow: -1.5px -1.5px #25F4EE, 1.5px 1.5px #FE2C55;
}

.subtitle {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 32px;
    color: #2D2B2B;
}