@media (max-width: 1200px) {
    .about {
        &__img {
            width: 444px;
            height: 753px;
        }
    }
}
@media (max-width: 991px) {
    .about {
        padding: 300px 0 150px 0;
        &__wrap {
            flex-direction: column;
        }
        &__img {
            &::after{
                filter: blur(110px);
            }
            &::before {
                filter: blur(110px);
            }
        }
        &__back-white {
            width: 559.44px;
            height: 170.28px;
            left: -23px;
            top: 315px;
            filter: blur(110px);
        }
    }
}
@media (max-width: 767px) {
    .about {
        padding: 300px 0 100px 0;
        &__card {
            width: 510px;
        }
        &__img {
            width: 270px;
            height: 500px;
            &::after {
                width: 343.21px;
                height: 239.89px;
                right: -98px;
                top: 34px;
                opacity: 0.4;
                filter: blur(75px);
                transform: translate3d(0,0,0) matrix(0.96, 0.27, -0.7, 0.71, 0, 0);
            }
            &::before {
                width: 347.78px;
                height: 250.65px;
                right: -42px;
                top: 142px;
                filter: blur(75px);
                transform: translate3d(0,0,0) matrix(0.96, 0.27, -0.7, 0.71, 0, 0);
            }
        }
        &__back-white {
            width: 556.02px;
            height: 120.86px;
            left: -208px;
            top: 152px;
        }
        &__contacts {
            width: 170px;
        }
    }
}
@media (max-width: 575px) {
    .about {
        padding: 150px 0 90px 0;
        &:before {
            background: #2D2B2B;
        }
        &__title {
            margin-bottom: 39px;
            font-weight: 900;
            font-size: 24px;
            line-height: 29px;
        }
        &__card {
            width: 300px;
            padding: 40px 14px 40px 13px;
        }
        &__subtitle {
            margin-bottom: 20px;
        }
        &__img {
            width: 225px;
            height: 427px;
            // padding-left: 20px;
            &:after {
                width: 166.715px;
                height: 235.282px;
                top: 35px;
                left: 53px;
                opacity: .63;
                filter: blur(50px);
                transform: translate3d(0,0,0) rotate(31.919deg);
            }
            &:before {
                width: 170.265px;
                height: 245.829px;
                top: 125px;
                right: 60px;
                opacity: .6;
                filter: blur(50px);
                transform: translate3d(0,0,0) rotate(31.919deg);
            }
        }
        &__back-white {
            width: 250.88px;
            height: 140.854px;
            top: 110px;
            left: 16px;
            filter: blur(50px);
            transform: translate3d(0,0,0) rotate(31.919deg);
        }
        &__contacts {
            width: 140px;
            height: 41px;
            // margin: 0 33px;
            a {
                padding-top: 12px;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}
@media (max-width: 360px) {
    .about {
        &__card {
            width: 280px;
            padding: 30px 14px 30px 14px;
        }
        &__img {
            &:after {
                filter: blur(45px);
            }
            &:before {
                filter: blur(45px);
            }
        }
        &__back-white {
            filter: blur(45px);
        }
    }
}