@media (max-width: 1200px) {

}
@media (max-width: 991px) {
    .about {
        padding: 300px 0 150px 0;
        &__wrap {
            flex-direction: column;
        }
    }
}
@media (max-width: 767px) {
    .about {
        padding: 300px 0 100px 0;
        &__card {
            width: 510px;
        }
        &__photo {
            img {
                height: 500px;
            }
            &::after {
                width: 343.21px;
                height: 239.89px;
                right: -98px;
                top: 34px;
                opacity: 0.4;
                filter: blur(75px);
                transform: matrix(0.96, 0.27, -0.7, 0.71, 0, 0);
            }
            &::before {
                width: 347.78px;
                height: 250.65px;
                right: -42px;
                top: 142px;
                filter: blur(75px);
                transform: matrix(0.96, 0.27, -0.7, 0.71, 0, 0);
            }
        }
        &__back-white {
            width: 556.02px;
            height: 120.86px;
            left: -208px;
            top: 152px;
        }
        &__contacts {
            width: 170px;
        }
    }
}
@media (max-width: 575px) {
    .about {
        padding: 150px 0 90px 0;
        &__title {
            margin-bottom: 39px;
            font-weight: 900;
            font-size: 24px;
            line-height: 29px;
        }
        &__card {
            width: 300px;
            padding: 40px 14px 40px 13px;
        }
        &__subtitle {
            margin-bottom: 20px;
        }
        &__photo {
            img {
                height: 364px;
                padding-left: 20px;
            }
        }
        &__contacts {
            width: 140px;
            height: 41px;
            a {
                padding-top: 12px;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
            }
        }
    }
}
@media (max-width: 575px) {
    .about {
        &__card {
            width: 280px;
        }
    }
}