@media (max-width: 1200px) {
    .button {
        &__decor-left {
            top: 40px;
            height: 35%;
        }
        &__decor-right {
            top: 40px;
            height: 35%;
        }
    }
}

@media (max-width: 991px) {
    .button-wrap {
        width: 323.14px;
        height: 122.41px;
        transition: 0.5s;
        &::before,
        &::after {
        width: 323.14px;
        height: 122.41px;
        transition: 0.2s linear;
        }
        &_medium {
            width: 374px;
            height: 91.26px;
            transition: 0.5s;
            &::before,
            &::after {
                width: 374px;
                height: 91.26px;
                transition: 0.2s ease-in;
            }
        }
        &_modal {
            width: 256.48px;
            height: 75.86px;
            font-size: 24px;
            transition: 0.5s ease-in;
            &::before,
            &::after {
                width: 256.48px;
                height: 75.86px;
                transition: 0.2s ease-in;
            }
        }
        &:hover {
            transform: scale(0.92);
        }
        &__decor-left, &__decor-right {
            transition: 0.3s;
        }
    }
    .button {
        width: 323.14px;
        height: 122.41px;
        &::before,
        &::after {
        width: 323.14px;
        height: 122.41px;
        }
        &_medium {
            width: 374px;
            height: 91.26px;
            &::before,
            &::after {
                width: 374px;
                height: 91.26px;
            }
        }
        &_modal {
            width: 256.48px;
            height: 75.86px;
            font-size: 24px;
            &::before,
            &::after {
                width: 256.48px;
                height: 75.86px;
            }
        }
    }
}
@media (max-width: 767px) {
    .button-wrap {
        width: 285px;
        height: 105px;
        &::before,
        &::after {
        width: 285px;
        height: 105px;
        }
        &_medium {
            width: 256.48px;
            height: 75.86px;
            font-size: 24px;
            &::before,
            &::after {
                width: 256.48px;
                height: 75.86px;
            }
        }
        &_modal {
            width: 256.48px;
            height: 75.86px;
            font-size: 24px;
            &::before,
            &::after {
                width: 256.48px;
                height: 75.86px;
            }
        }
    }
    .button {
        width: 285px;
        height: 105px;
        font-size: 26px;
        font-weight: 600;
        &__decor-left {
            height: 70%;
            top: 19px;
            left: 0;
            right: 0;
            filter: blur(15px);
            transform: translate3d(0,0,0);
        }
        &__decor-right {
            height: 70%;
            left: 50%;
            right: 0;
            top: 19px;
            filter: blur(15px);
            transform: translate3d(0,0,0);
        }
        &_medium {
            width: 256.48px;
            height: 75.86px;
            font-size: 24px;
            &::before,
            &::after {
                width: 256.48px;
                height: 75.86px;
            }
        }
        &_modal {
            width: 256.48px;
            height: 75.86px;
            font-size: 24px;
            &::before,
            &::after {
                width: 256.48px;
                height: 75.86px;
            }
        }
    }
}
@media (max-width: 575px) {
    .button-wrap {
        width: 261.38px;
        height: 97.2px;
        &::before,
        &::after {
            width: 261.38px;
            height: 97.2px;
        }
        &_medium {
            width: 256.48px;
            height: 75.86px;
            font-size: 24px;
            &::before,
            &::after {
                width: 256.48px;
                height: 75.86px;
            }
        }
        &_modal {
            width: 256.48px;
            height: 75.86px;
            font-size: 24px;
            &::before,
            &::after {
                width: 256.48px;
                height: 75.86px;
            }
        }
    }
    .button {
        width: 261.38px;
        height: 97.2px;
        font-size: 24px;
        &::before, &::after {
            width: 261.38px;
            height: 97.2px;
        }
        &__decor-left {
            height: 68%;
            left: 0%;
            right: 0;
            filter: blur(15px);
        }
        &__decor-right {
            height: 68%;
            left: 50%;
            right: 0;
            filter: blur(15px);
            transform: translate3d(0,0,0);
        }
        &_medium {
            width: 256.48px;
            height: 75.86px;
            font-size: 24px;
            &::before,
            &::after {
                width: 256.48px;
                height: 75.86px;
            }
        }
        &_modal {
            width: 256.48px;
            height: 75.86px;
            font-size: 24px;
            &::before,
            &::after {
                width: 256.48px;
                height: 75.86px;
            }
        }
    }
}
@media (max-width: 360px) {
    .button-wrap {
        width: 243.38px;
        height: 79.2px;
        &::before,
        &::after {
            width: 243.38px;
            height: 79.2px;
        }
        &_medium {
            width: 238.48px;
            height: 57.86px;
            font-size: 22px;
            &::before,
            &::after {
                width: 238.48px;
                height: 57.86px;
            }
        }
        &_modal {
            width: 238.48px;
            height: 57.86px;
            font-size: 22px;
            &::before,
            &::after {
                width: 238.48px;
                height: 57.86px;
            }
        }
    }
    .button {
        width: 243.38px;
        height: 79.2px;
        font-weight: 600;
        font-size: 24px;
        line-height: 31px;
        &::before, &::after {
            width: 243.38px;
            height: 79.2px;
        }
        &__decor-left {
            height: 68%;
            left: 0%;
            top: 19%;
            right: 0;
            filter: blur(15px);
            transform: translate3d(0,0,0);
        }
        &__decor-right {
            height: 68%;
            top: 19%;
            left: 50%;
            right: 0;
            filter: blur(15px);
            transform: translate3d(0,0,0);
        }
        &_medium {
            width: 238.48px;
            height: 57.86px;
            font-size: 22px;
            &::before,
            &::after {
                width: 238.48px;
                height: 57.86px;
            }
        }
        &_modal {
            width: 238.48px;
            height: 57.86px;
            font-size: 22px;
            &::before,
            &::after {
                width: 238.48px;
                height: 57.86px;
            }
        }
    }
}