@media (max-width: 1200px) {
    .contacts {
        overflow: hidden;
       &__descr {
        margin-right: 0;
       } 
    }
}
@media (max-width: 991px) {
    .contacts {
        padding: 150px 0 400px 0;
        &__wrap {
            flex-direction: column;
            align-items: center;
        }
        &__descr {
            // justify-content: center;
            align-items: center;
            margin-bottom: 30px;
        }
        &__title {
            text-align: center;
        }
        &__text {
            text-align: center;
        }
    }
}
@media (max-width: 767px) {
    .contacts {
        padding: 100px 0 350px 0;
    }
}
@media (max-width: 575px) {
    .contacts {
        padding: 90px 0 140px 0;
        &__wrap {
            margin-bottom: 21px;
        }
        &__descr {
            width: 332px;
            margin-bottom: 6px;
        }
        &__title {
            margin-bottom: 12px;
            .desktop-hidden {
                display: block;
            }
        }
        &__text {
            width: 100%;
            margin-bottom: 4px;
        }
        &__img {
            width: 147.13px;
            height: 184.58px;
            &:after {
                width: 120.21px;
                height: 146.5px;
                filter: blur(75px);
                transform: rotate(-25.52deg);
                left: 13px;
                top: 15px;
            }
        }
    }
}
@media (max-width: 360px) {
    .contacts {
        &__descr {
            width: 290px;
        }
    }
}