@media (max-width: 1200px) {
    .contacts {
        overflow: hidden;
       &__descr {
        margin-right: 0;
       } 
    }
}
@media (max-width: 991px) {
    .contacts {
        &__wrap {
            flex-direction: column;
            align-items: center;
        }
        &__descr {
            // justify-content: center;
            align-items: center;
            margin-bottom: 30px;
        }
        &__title {
            text-align: center;
        }
        &__text {
            text-align: center;
        }
    }
}
@media (max-width: 767px) {

}
@media (max-width: 575px) {
    .contacts {
        padding: 100px 0 100px 0;
        &__wrap {
            margin-bottom: 21px;
        }
        &__descr {
            width: 332px;
            margin-bottom: 6px;
        }
        &__title {
            margin-bottom: 12px;
        }
        &__text {
            width: 100%;
        }
        &__img {
            width: 147.13px;
            height: 184.58px;
        }
    }
}