@media (max-width: 1200px) {

}
@media (max-width: 991px) {
    footer {
        overflow-y: visible;
        
    }
    .footer {
        &__bubble {
            &_heart {
                bottom: -88px;
                left: -29px;
                transform: rotate(5.767deg);
                img {
                    width: 78.638px;
                    height: 76.584px;
                    opacity: 0.8;
                }
            }
            &_tik-tok {
                top: -90px;
                right: -30px;
                transform: rotate(-53.538deg);
                z-index: 2;
                img {
                    width: 81.795px;
                    height: 79.565px;
                    opacity: 0.8;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    footer {
        padding: 50px 0 100px 0;
        .wrapper {
            flex-direction: column;
            align-items: start;
            a {
                margin-bottom: 30px;
            }
            a:nth-child(2) {
                order: 3;
            }
            a:nth-child(3) {
                order: 2;
            }
        }
    }
}
@media (max-width: 575px) {

}
@media (max-width: 360px) {
    
}