@media (max-width: 1200px) {
    .for{
        &__wrap {
            // margin: 0 99px;
            grid-template-columns: repeat(2, 422px);
            column-gap: 90px;
            row-gap: 90px;
            // gap: 118px;
            grid-auto-rows: minmax(600px, auto);
        }
    }
}
@media (max-width: 991px) {
    .for{
        &__wrap {
            // margin: 0 auto;
            grid-template-columns: repeat(1, 1fr);
            // column-gap: 90px;
            row-gap: 25px;
            // gap: 118px;
            grid-auto-rows: minmax(600px, auto);
        }
        &__descr {
            padding-top: 30px;
            padding-left: 30px;
            padding-right: 30px;
            /* br {
                display: none;
            } */
        }
        &__title {
            margin-bottom: 60px;
        }
        &__bubble {
            &_heart {
                top: -70px;
                left: 1px;
                transform: rotate(-36.269deg);
                img {
                    width: 61.91px;
                    height: 61.91px;
                    opacity: 0.7;
                }
            }
            &_heart-2 {
                top: 70px;
                right: 2px;
                // transform: rotate(-36.269deg);
                img {
                    width: 54.891px;
                    height: 50.738px;
                }
            }
            &_tik-tok {
                top: -70px;
                left: auto;
                right: -40px;
                transform: rotate(18.155deg);
                img {
                    width: 71.795px;
                    height: 69.565px;
                }
            }
            &_heart-3 {
                top: 603px;
                left: auto;
                right: -37px;
                transform: rotate(-41.233deg);
                img {
                    width: 90.123px;
                    height: 87.757px;
                    opacity: .8;
                }
            }
            &_tik-tok-2 {
                top: 582px;
                left: -35px;
                transform: rotate(24.058deg);
                img {
                    width: 70.798px;
                    height: 75.636px;
                }
            }
            &_tik-tok-3 {
                bottom: 540px;
                left: -44px;
                transform: rotate(-19.942deg);
                img {
                    width: 81.795px;
                    height: 79.565px;
                    opacity: 0.8;
                }
            }
            &_tik-tok-4 {
                bottom: auto;
                left: auto;
                top: 1041px;
                right: -50px;
                transform: rotate(-43.845deg);
                img {
                    width: 81.795px;
                    height: 79.565px;
                    opacity: 0.6;
                }
            }
            &_heart-4 {
                bottom: auto;
                right: auto;
                top: 1220px;
                left: -47px;
                transform: rotate(3.834deg);
                img {
                    width: 78.638px;
                    height: 76.584px;
                    opacity: 0.8;
                }
            }
            &_heart-5 {
                bottom: 529px;
                right: -48px;
                img {
                    width: 78.638px;
                    height: 76.584px;
                }
            }
            &_heart-6 {
                bottom: -39px;
                left: -48px;
                img {
                    width: 78.638px;
                    height: 76.584px;
                }
            }
            &_tik-tok-5 {
                bottom: -79px;
                right: -48px;
                transform: rotate(18.155deg);
                img {
                    width: 81.795px;
                    height: 79.565px;
                }
            }
        }
    }
}
@media (max-width: 767px) {
    .for{
        padding: 80px 0 120px 0;
        &__title {
            margin-bottom: 50px;
        }
        &__wrap {
            // margin: 0 auto;
            grid-template-columns: repeat(1, 1fr);
            // column-gap: 90px;
            row-gap: 25px;
            // gap: 118px;
            grid-auto-rows: minmax(600px, auto);
        }
        
    }
}
@media (max-width: 575px) {
    .for {
        &__title {
            margin-bottom: 30px;
        }
        &__wrap {
            grid-auto-rows: minmax(545px, auto);
        }
        &__emoji {
            width: 278px;
            max-height: 281px;
            &_girl {
                width: 231px;
                height: 231px;
            }
            &_boy-glasses {
                width: 250px;
                height: 281px;
            }
            &_boy {
                width: 278px;
                height: 220px;
            }
            &_girl-star {
                width: 250px;
                height: 230px;
            }
        }
        &__descr {
            width: 295px;
            height: 307px;
            padding-top: 40px;
            padding-left: 20px;
            padding-right: 0;
            .text {
                width: 255px;
                // br {
                //     display: none;
                // }
                .media-hidden {
                    content: ' ';
                    &:after {
                        content: ' '
                    }
                }
                .desktop-hidden {
                    display: block;
                }
            }
        }
        &__subtitle {
            margin-bottom: 5px;
        }
    }

    
}