@media (max-width: 1200px) {
    .feed-form {
        flex-wrap: wrap;
        justify-content: space-around;
        .input-wrapper {
            margin-bottom: 30px;
        }
    }
}
@media (max-width: 991px) {
    .feed-form {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 767px) {

}
@media (max-width: 575px) {
    .feed-form {
        .input-wrapper {
            width: 286px;
            height: 71px;
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 32px;
            }
            input {
                padding: 23px 0 23px 30px;
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
            }
        }
        
    }
}
@media (max-width: 575px) {
    .feed-form {
        .input-wrapper {
            width: 268px;
            height: 53px;
            margin-bottom: 20px;
            &:last-of-type {
                margin-bottom: 32px;
            }
            input {
                padding: 20px 0 20px 27px;
                font-weight: 400;
                font-size: 18px;
                line-height: 24px;
            }
        }
        
    }
}