@media (max-width: 1200px) {
    .promo {
        &__wrapper {
            width: 985px;
        }
        &__subheader-front {
            left: 7px;
        }
        &__img {
            left: 193px;
            &:after {
                width: 709.53px;
                height: 665.06px;
                left: -33px;
                top: -124px;
            }
            &:before {
                width: 708.34px;
                height: 694.87px;
                right: -44px;
                top: 254px;
            }
        }
        &__back-white {
            width: 1072.44px;
            height: 382.28px;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        &__wrapper {
            width: 750px;
        }
        &__header {
            font-size: 50px;
        }
        &__title {
            font-size: 228px;
        }
        &__title-two {
            font-size: 228px;
        }
        &__subheader-front {
            left: 7px;
        }
        &__subtitle {
            font-size: 228px;  
        }
        &__subtitle-two {
            font-size: 228px;
        }
        &__img {
            width: 572PX;
            height: 608px;
            top: 140px;
            left: 95px;        
            picture {
                zoom: 95%;
            }
            &:after {
                width: 408.53px;
                height: 438.06px;
                left: 81px;
                top: -67px;
                filter: blur(110px);
                transform: translate3d(0,0,0) matrix(0.93, 0.37, -0.58, 0.81, 0, 0);
            }
            &:before {
                width: 549.34px;
                height: 466.87px;
                right: -40px;
                top: 251px;
                filter: blur(110px);
                transform: translate3d(0,0,0) matrix(0.93, 0.37, -0.58, 0.81, 0, 0);
            }
        }
        &__back-white {
            width: 559.44px;
            height: 170.28px;
            left: -35px;
            top: 284px;
            filter: blur(110px);
            transform: translate3d(0,0,0) matrix(1, 0.05, -0.09, 1, 0, 0);
        }
        &__descr {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
        }
        &__get-create {
            text-align: center;
            margin-bottom: 20px;
            &_first {
                order: 3;
            }
            &_second {
                order: 4;
            }
            &:nth-child(3) {
                text-align: center;
                
            }
        }
        &__button {
            margin-bottom: 20px;
            order: 1;
        }
        &__descr-list {
            width: 300px;
            height: 116px;
            margin: 0;
            margin-bottom: 20px;
            padding: 18px 25px;
            background: url(../img/promo/Rectangle-mobile.png);
            mix-blend-mode: screen 0.4;
            order: 2;
            div{
                // font-weight: 400;
                // font-size: 16px;
                // line-height: 20px;
                text-align: center;
                span {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                }
            }
        }
    }
    @-moz-document url-prefix() {
        .promo {
            &__img {
                top: 125px;
                left: 133px;
                picture {
                    transform: scale(0.95);
                    transform-origin: left top;
                    width: calc(100% / 0.95);
                    height: calc(100% / 0.95);
                }
           }
        }
    }
}
@media (max-width: 767px) {
    .promo {
        &__wrapper {
            display: block;
            margin: 0 auto;
            width: 540px;
        }
        &__header {
            font-weight: 300;
            font-size: 40px;
            line-height: 47px;
            margin-bottom: 190px;
        }
        &__title {
            font-size: 150px;
            font-weight: 900;
            line-height: 50px;
        }
        &__title-two {
            font-size: 150px;
            font-weight: 900;
            line-height: 188px;
        }
        &__subheader-front {
            left: 28px;
        }
        &__subtitle {
            font-size: 150px;
            font-weight: 900;
            line-height: 50px;  
        }
        &__subtitle-two {
            font-size: 150px;
            font-weight: 900;
            line-height: 188px;
        }
        &__img {
            width: 422PX;
            height: 456px;
            top: 100px;
            left: 60px;
            &:after {
                width: 290.715px;
                height: 259.282px;
                left: 70px;
                top: 25px;
                filter: blur(90px);
                transform: translate3d(0,0,0) matrix(0.93, 0.37, -0.58, 0.81, 0, 0);
            }
            &:before {
                width: 300.715px;
                height: 269.282px;
                right: 80px;
                top: 238px;
                filter: blur(95px);
                transform: translate3d(0,0,0) matrix(0.93, 0.37, -0.58, 0.81, 0, 0);
            }
        }
        &__back-white {
            left: -11px;
            top: 213px;
            width: 419.44px;
            height: 127.28px;
            filter: blur(90px);
            transform: translate3d(0,0,0) matrix(1, 0.05, -0.09, 1, 0, 0);
        }
        &__descr {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        &__get-create {
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            margin-bottom: 20px;
            &_first {
                order: 3;
            }
            &_second {
                order: 4;
            }
            &:nth-child(3) {
                text-align: center;
                
            }
        }
        &__button {
            margin-bottom: 20px;
            order: 1;
        }
        &__descr-list {
            width: 300px;
            height: 116px;
            margin: 0;
            margin-bottom: 20px;
            padding: 18px 25px;
            background: url(../img/promo/Rectangle-mobile.png);
            mix-blend-mode: screen 0.4;
            order: 2;
            div{
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                span {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                }
            }
        }
    }
    @-moz-document url-prefix() {
        .promo__img {
            left: 75px;
            picture {
                img {
                transform: scale(0.5);
                transform-origin: left top;
                width: calc(100% / 0.6);
                height: calc(100% / 0.6);
                }
            }
            
        }
    }
}
@media (max-width: 575px) {
    .promo {
        &:before {
            content: "";
            position: absolute;
            background: #2D2B2B;
            // background: url(../img/bg/bg.jpg);
            
        }
        &__wrapper {
            display: block;
            margin: 0 auto;
            width: 320px;
        }
        &__header {
            display: block;
            width: 334px;
            font-weight: 300;
            font-size: 30px;
            line-height: 37px;
            margin-bottom: 117px;
        }
        &__wrap-subheader {
            width: 300px;
        }
        &__title {
            font-weight: 900;
            font-size: 90px;
            line-height: 90px;
        }
        &__title-two {
            font-weight: 900;
            font-size: 90px;
            line-height: 90px;
        }
        &__subheader-front {
            left: 5px
        }
        &__subtitle {
            font-weight: 900;
            font-size: 90px;
            line-height: 90px;
        }
        &__subtitle-two {
            font-weight: 900;
            font-size: 90px;
            line-height: 90px;
        }
        &__img {
            width: 322PX;
            height: 356px;
            top: 81px;
            left: 3px;
            &:after {
                width: 266.715px;
                height: 235.282px;
                opacity: 0.63;
                left: 9px;
                top: 5px;
                filter: blur(75px);
                transform: translate3d(0,0,0) rotate(31.919deg);
            }
            &:before {
                width: 270.265px;
                height: 245.829px;
                opacity: 0.6;
                right: 17px;
                top: 141px;
                filter: blur(75px);
                transform: translate3d(0,0,0) rotate(31.919deg);
            }
        }
        &__back-white {
            width: 350.88px;
            height: 140.854px;
            top: 140px;
            left: -58px;
            opacity: 0.63;
            background: #EEE;
            filter: blur(75px);
        }
        &__get-create {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

        }
        &__button {
            margin: 0;
            margin-bottom: 20px;
        }
    }
    @-moz-document url-prefix() {
        // .promo {
        //     &__img {
        //         top: 124px;
        //         left: 133px;
        //         picture {
        //             transform: scale(0.95);
        //             // transform-origin: left top;
        //             // width: calc(100% / 0.5);
        //             // height: calc(100% / 0.5);
        //         }
        //    }
        // }
    }
}

@media (max-width: 360px) {
    .promo {
        &__wrapper {
            display: block;
            margin: 0 auto;
            width: 300px;
        }
        &__header {
            // padding: 0 50px 0 50px;
            display: block;
            width: 300px;
            font-weight: 300;
            font-size: 30px;
            line-height: 37px;
            margin-bottom: 117px;
        }
        &__wrap-subheader {
            width: 300px;
        }
        &__title {
            font-weight: 900;
            font-size: 80px;
            line-height: 90px;
        }
        &__title-two {
            font-weight: 900;
            font-size: 80px;
            line-height: 90px;
        }
        &__subheader-front {
            left: 21px;
        }
        &__subtitle {
            font-weight: 900;
            font-size: 80px;
            line-height: 90px;
        }
        &__subtitle-two {
            font-weight: 900;
            font-size: 80px;
            line-height: 90px;
        }
        &__img {
            left: -6px;
            &:after {
                width: 266.715px;
                height: 235.282px;
                opacity: 0.63;
                left: 9px;
                top: 5px;
                filter: blur(65px);
            }
            &:before {
                width: 270.265px;
                height: 245.829px;
                opacity: 0.6;
                right: -32px;
                top: 141px;
                filter: blur(65px);
            }
        }
        &__back-white {
            width: 280.88px;
            top: 140px;
            left: -12px;
            opacity: 0.63;
            background: #EEE;
            filter: blur(65px);
            transform: translate3d(0,0,0);
        }
        &__get-create {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

        }
        &__button {
            margin: 0;
            margin-bottom: 20px;
        }
    }
    @-moz-document url-prefix() {
        .promo__img {
            top: 135px;
            left: 30px;
            transform: scale(0.48);
            transform-origin: left top;
            width: calc(100% / 0.48);
            height: calc(100% / 0.48);
            }
    }
}

