@media (max-width: 1200px) {
    .program {
        &__card {
            width: 934px;
        }
    }
}
@media (max-width: 991px) {
    .program {
        padding: 300px 0 150px 0;
        &__card {
        padding: 0 0 50px 0;
        width: 700px;
        }
        &__card-wrap {
            grid-template-columns: 600px;
            justify-content: center;
            justify-items: center;
            align-items: center;
            padding-left: 0;
        }
        &__num {
            text-align: center;
        }
        &__card-text {
            margin: 0;
            h3 {
                text-align: center;
            }
        }
    }
}
@media (max-width: 767px) {
    .program {
        &:before {
            content: "";
            position: absolute;
            background-image: url(../img/bg/background-media.jpg);
            opacity: 0.2;
        }
        padding: 150px 0 100px 0;
        &__card {
        width: 422px;
        }
        &__card-wrap {
            grid-template-columns: 600px;
            justify-content: center;
            justify-items: center;
            align-items: center;
            padding-left: 0;
        }
        &__num {
            text-align: center;
        }
        &__card-wrap {
            position: relative;
            grid-template-columns: 1fr;
            h3 {
                font-weight: 900;
                line-height: 29px;
            }
        }
        &__card-text {
            h3 {
                text-align: center;
            }
            ul {
                li {
                    margin-left: 10px;
                }
            }
        }
    }
}
@media (max-width: 575px) {
    .program {
        padding: 150px 0 50px 0;
        &__title {
            margin-bottom: 42px;
        }
        &__card {
            position: relative;
            width: 300px;
            padding: 0 18px 35px 18px;
            margin-bottom: 50px;
        }
        &__num {
            position: absolute;
            top: 0;
            
        }
        &__card-wrap {
            position: relative;
            grid-template-columns: 1fr;
            h3 {
                margin-top: 132px;
                font-weight: 900;
                line-height: 29px;
            }
        }
        &__card-text {
            ul {
            list-style: none;
                li {
                    position: relative;
                    margin-bottom: 20px;
                    margin-left: 0;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    &:before {
                        content: "•";
                        position: absolute;
                        font-size: 100%;
                        padding-right: 5px;
                        color: #fff;
                        top: -2px;
                        left: -15px;
                    }
                }
            }
        }
    }
    .desktop-hidden {
        display: block;
    }
}
@media (max-width: 360px) {
    .program {
        &__card {
            width: 280px;
        }
    }
}