@media (max-width: 1200px) {
    .promo {
        &__wrapper {
            width: 985px;
        }
        &__subheader-front {
            left: 7px;
        }
        &__img {
            left: 247px;
            &:after {
                width: 709.53px;
                height: 665.06px;
                left: -33px;
                top: -124px;
            }
            &:before {
                width: 708.34px;
                height: 694.87px;
                right: -44px;
                top: 254px;
            }
        }
        &__back-white {
            width: 1072.44px;
            height: 382.28px;
        }
    }
}

@media (max-width: 991px) {
    .promo {
        &__wrapper {
            width: 750px;
        }
        &__header {
            font-size: 50px;
        }
        &__title {
            font-size: 228px;
        }
        &__title-two {
            font-size: 228px;
        }
        &__subheader-front {
            left: 7px;
        }
        &__subtitle {
            font-size: 228px;  
        }
        &__subtitle-two {
            font-size: 228px;
        }
        &__img {
            top: 164px;
            left: 151px;
            zoom: 95%;
            &:after {
                width: 608.53px;
                height: 638.06px;
                left: 2px;
                top: -127px;
            }
            &:before {
                width: 749.34px;
                height: 666.87px;
                right: -114px;
                top: 251px;
            }
        }
        &__back-white {
            left: -256px;
            top: 284px;
            width: 959.44px;
            height: 370.28px;
        }
        &__descr {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0;
        }
        &__get-create {
            // font-size: 18px;
            // font-weight: 400;
            // line-height: 20px;
            text-align: center;
            margin-bottom: 20px;
            &_first {
                order: 3;
            }
            &_second {
                order: 4;
            }
            &:nth-child(3) {
                text-align: center;
                
            }
        }
        &__button {
            margin-bottom: 20px;
            order: 1;
        }
        &__descr-list {
            width: 300px;
            height: 116px;
            margin: 0;
            margin-bottom: 20px;
            padding: 18px 25px;
            background: url(../img/promo/Rectangle-mobile.png);
            mix-blend-mode: screen 0.4;
            order: 2;
            div{
                // font-weight: 400;
                // font-size: 16px;
                // line-height: 20px;
                text-align: center;
                span {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                }
            }
        }
    }
    @-moz-document url-prefix() {
        .promo {
            &__img {
                top: 325px;
                left: 209px;
                transform: scale(0.67);
                transform-origin: left top;
                width: calc(100% / 0.95);
                height: calc(100% / 0.95);
           }
        }
    }
}
@media (max-width: 767px) {
    .promo {
        &__wrapper {
            display: block;
            margin: 0 auto;
            width: 540px;
        }
        &__header {
            font-weight: 300;
            font-size: 40px;
            line-height: 47px;
            margin-bottom: 190px;
        }
        &__title {
            font-size: 150px;
            font-weight: 900;
            line-height: 50px;
        }
        &__title-two {
            font-size: 150px;
            font-weight: 900;
            line-height: 188px;
        }
        &__subheader-front {
            left: 28px;
        }
        &__subtitle {
            font-size: 150px;
            font-weight: 900;
            line-height: 50px;  
        }
        &__subtitle-two {
            font-size: 150px;
            font-weight: 900;
            line-height: 188px;
        }
        &__img {
            top: 79px;
            left: 98px;
            zoom: 79%;
            &:after {
                width: 575.53px;
                height: 638.06px;
                left: 2px;
                top: -127px;
                filter: blur(75px);
            }
            &:before {
                width: 667.34px;
                height: 666.87px;
                right: -88px;
                top: 307px;
                filter: blur(75px);
            }
        }
        &__back-white {
            left: -256px;
            top: 284px;
            width: 959.44px;
            height: 370.28px;
        }
        &__descr {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin: 0 auto;
        }
        &__get-create {
            font-weight: 400;
            line-height: 20px;
            text-align: center;
            margin-bottom: 20px;
            &_first {
                order: 3;
            }
            &_second {
                order: 4;
            }
            &:nth-child(3) {
                text-align: center;
                
            }
        }
        &__button {
            margin-bottom: 20px;
            order: 1;
        }
        &__descr-list {
            width: 300px;
            height: 116px;
            margin: 0;
            margin-bottom: 20px;
            padding: 18px 25px;
            background: url(../img/promo/Rectangle-mobile.png);
            mix-blend-mode: screen 0.4;
            order: 2;
            div{
                font-weight: 400;
                font-size: 16px;
                line-height: 20px;
                text-align: center;
                span {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 20px;
                    text-align: center;
                }
            }
        }
    }
    @-moz-document url-prefix() {
        .promo__img {
            left: 75px;
            transform: scale(0.79);
            transform-origin: left top;
            width: calc(100% / 0.79);
            height: calc(100% / 0.79);
        }
    }
}
@media (max-width: 575px) {
    .promo {
        &__wrapper {
            display: block;
            margin: 0 auto;
            width: 320px;
        }
        &__header {
            display: block;
            width: 334px;
            font-weight: 300;
            font-size: 30px;
            line-height: 37px;
            margin-bottom: 117px;
        }
        &__wrap-subheader {
            width: 300px;
        }
        &__title {
            font-weight: 900;
            font-size: 90px;
            line-height: 90px;
        }
        &__title-two {
            font-weight: 900;
            font-size: 90px;
            line-height: 90px;
        }
        &__subheader-front {
            left: 5px
        }
        &__subtitle {
            font-weight: 900;
            font-size: 90px;
            line-height: 90px;
        }
        &__subtitle-two {
            font-weight: 900;
            font-size: 90px;
            line-height: 90px;
        }
        &__img {
            top: 250px;
            left: 78px;
            zoom: 50%;
            &:after {
                width: 266.715px;
                height: 235.282px;
                border-radius: 266.715px;
                opacity: 0.6399999856948853;
                left: -22px;
                top: -43px;
            }
            &:before {
                width: 270.265px;
                height: 245.829px;
                border-radius: 270.265px;
                opacity: 0.6399999856948853;
                right: -35px;
                top: 201px;
            }
        }
        &__back-white {
            left: -192px;
            width: 860.44px;
        }
        &__get-create {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

        }
        &__button {
            margin: 0;
            margin-bottom: 20px;
        }
    }
    @-moz-document url-prefix() {
        .promo__img {
            top: 122px;
            left: 42px;
            transform: scale(0.50);
            transform-origin: left top;
            width: calc(100% / 0.50);
            height: calc(100% / 0.50);
            }
    }
}

@media (max-width: 360px) {
    .promo {
        &__wrapper {
            display: block;
            margin: 0 auto;
            width: 300px;
        }
        &__header {
            // padding: 0 50px 0 50px;
            display: block;
            width: 310px;
            font-weight: 300;
            font-size: 30px;
            line-height: 37px;
            margin-bottom: 117px;
        }
        &__wrap-subheader {
            width: 300px;
        }
        &__title {
            font-weight: 900;
            font-size: 80px;
            line-height: 90px;
        }
        &__title-two {
            font-weight: 900;
            font-size: 80px;
            line-height: 90px;
        }
        &__subheader-front {
            left: 21px;
        }
        &__subtitle {
            font-weight: 900;
            font-size: 80px;
            line-height: 90px;
        }
        &__subtitle-two {
            font-weight: 900;
            font-size: 80px;
            line-height: 90px;
        }
        &__img {
            top: 281px;
            left: 56px;
            zoom: 48%;
            &:after {
                width: 575.53px;
                height: 515.06px;
                left: -22px;
                top: -43px;
            }
            &:before {
                width: 584.34px;
                height: 525.87px;
                right: -35px;
                top: 201px;
            }
        }
        &__back-white {
            left: -192px;
            width: 860.44px;
        }
        &__get-create {
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;

        }
        &__button {
            margin: 0;
            margin-bottom: 20px;
        }
    }
    @-moz-document url-prefix() {
        .promo__img {
            top: 135px;
            left: 30px;
            transform: scale(0.48);
            transform-origin: left top;
            width: calc(100% / 0.48);
            height: calc(100% / 0.48);
            }
    }
}

