@media (max-width: 991px) {
    h1 {
        font-size: 50px;
    }
    .title {
        font-size: 50px;
    }
    .subtitle {
        font-size: 28px;
    }
    .text {
        font-size: 20px;
        &_fz26 {
            font-size: 24px;
        }
        &_fz32 {
            font-size: 30px;
        }
        &_footer {
            font-size: 18px;  
        }
        &_contacts {
            font-weight: 400;
            font-size: 30px;
            line-height: 39px;
        }
    }
}
@media (max-width: 767px) {
    .title {
        font-size: 44px;
    }
}
@media (max-width: 575px) {
    .title {
        font-weight: 700;
        font-size: 30px;
    }
    .subtitle {
        font-weight: 600;
        font-size: 24px;
    }
    .text {
        font-weight: 400;
        font-size: 16px;
        &_fz26 {
            font-size: 24px;
        }
        &_fz32 {
            font-size: 30px;
        }
        &_footer {
            font-size: 18px;  
        }
        &_contacts {
            font-weight: 400;
            font-size: 30px;
            line-height: 39px;
        }
    }
}