@media (max-width: 1200px) {
    .title {
        &__modal {
            font-size: 45px;
        }
    }
}

@media (max-width: 991px) {
    h1 {
        font-size: 50px;
    }
    .title {
        font-size: 50px;
        &__modal {
            font-size: 35px;
            line-height: 47px;
        }
    }
    .subtitle {
        font-size: 28px;
    }
    .text {
        font-size: 20px;
        &_fz26 {
            font-size: 24px;
        }
        &_fz26-fw600 {
            font-size: 24px;
        }
        &_fz32 {
            font-size: 30px;
        }
        &_footer {
            font-weight: 600;
            font-size: 18px;  
        }
        &__contacts {
            font-weight: 400;
            font-size: 30px;
            line-height: 39px;
        }
    }
}
@media (max-width: 767px) {
    .title {
        font-size: 44px;
        &__modal {
            font-size: 29px;
            line-height: 39px;
            text-shadow: 1px 1px #25F4EE, 2px 2px #FE2C55;
        }
    }
    .subtitle {
        // font-size: 24px;
    }
    .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        &_fz26 {
            font-size: 22px;
        }
        &_fz26-fw600 {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
        &_fz32 {
            font-size: 30px;
        }
        &_footer {
            font-weight: 600;
            font-size: 18px;  
        }
        &__contacts {
            font-weight: 400;
            font-size: 30px;
            line-height: 39px;
        }
    }
}
@media (max-width: 575px) {
    .title {
        font-weight: 700;
        font-size: 30px;
        line-height: 43px;
        text-shadow: 1.2px 1.2px #25F4EE, 2.5px 2.5px #FE2C55;
        &__contacts {
            line-height: 36px;
        }
        &__modal {
            font-size: 25px;
            line-height: 35px;
        }
    }
    .text {
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        &_fz26 {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
        }
        &_fz26-fw600 {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
        &_fz32 {
            font-weight: 600;
            font-size: 24px;
            line-height: 29px;
        }
        &_footer {
            font-weight: 600;
            font-size: 16px; 
        }
        &__contacts {
            font-weight: 400;
            font-size: 24px;
            line-height: 29px;
        }
    }
    .subtitle {
        font-weight: 600;
        font-size: 24px;
        &_fw900{
            background: linear-gradient(90deg,#f4eded 16.97%,rgba(252,199,199,.452381) 60.13%,rgba(233,158,158,.71) 89.48%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }


    .num {
        font-weight: 900;
        font-size: 100px;
        line-height: 142px;
        background: linear-gradient(180deg,rgba(250,246,247,.39) 17%,rgba(146,108,116,0) 50.76%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
}
@media (max-width: 360px) {
    .title {
        font-weight: 700;
        font-size: 28px;
        line-height: 43px;
        text-shadow: 0.6px 0.6px #25F4EE, 1.4px 1.4px #FE2C55;
        &__contacts {
            line-height: 36px;
        }
        &__modal {
            font-size: 23px;
            line-height: 30px;
        }
    }
    .text {
        font-weight: 400;
        font-size: 14px;
        line-height: 19px;
        &_fz26 {
            font-weight: 400;
            font-size: 18px;
            line-height: 23px;
        }
        &_fz26-fw600 {
            font-weight: 500;
            font-size: 16px;
            line-height: 20px;
        }
        &_fz32 {
            font-weight: 600;
            font-size: 22px;
            line-height: 28px;
        }
        &_footer {
            font-weight: 600;
            font-size: 14px;  
        }
        &__contacts {
            font-weight: 400;
            font-size: 21px;
            line-height: 28px;
        }
    }
    .subtitle {
        font-weight: 600;
        font-size: 22px;
        &_fw900{
            background: linear-gradient(90deg,#f4eded 16.97%,rgba(252,199,199,.452381) 60.13%,rgba(233,158,158,.71) 89.48%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }


    .num {
        font-weight: 900;
        font-size: 100px;
        line-height: 142px;
        background: linear-gradient(180deg,rgba(250,246,247,.39) 17%,rgba(146,108,116,0) 50.76%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;

    }
}